@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="">
    <img src="~/Image/McFIT_Studiobilder_1200x500_DE_6a.jpg" />
    <h1>E-ShopPale</h1>
    <p class="lead">Se cerchi un posto sicuro dove comprare il tuo kit palestra per il tuo fisico da spartano sei nel posto giusto.</p>
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
</div>