@{
    ViewBag.Title = "Testing";
}

<!--<div class="jumbotron">
    <h1>E-ShopPale</h1>
    <p class="lead">Se cerchi un posto sicuro dove comprare il tuo kit palestra per il tuo fisico da spartano sei nel posto giusto.</p>-->
    @*<p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>*@
<!--</div>-->

<!--<div class="row">
    <div class="col-md-4">
        <h2>L'obiettivo è dimagrire?</h2>
        <p>
            Clicca sul link qua sotto e troverai un breve video che ti spiega che tipo di esercizi fare con i nostri attrezzi.
        </p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=3UoKVaD8BVk">Clicca qui &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Vuoi aumentare la massa Muscolare?</h2>
        <p>Clicca sul link qua sotto e troverai un breve video che ti spiega che tipo di esercizi fare con i nostri attrezzi.</p>
        <p><a class="btn btn-default" href="https://www.youtube.com/watch?v=Bb9v8ebe1h0">Clicca qui &raquo;</a></p>
    </div>-->
    @*<div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>*@
<!--</div>-->